---
- name: Deploy project with labels and selectors
  k8s:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    state: present
    definition: "{{ lookup('template', 'deployment.yml.j2') | from_yaml }}"
