---
- name: Check hello-openshift pod
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    field_selectors:
      - status.phase=Running
  register: pod
  retries: 20
  until: pod.resources | length > 0

- fail:
    msg: "There should be only one pod present, before and after the migration."
  when: pod.resources | length != 1

- name: Check core OpenShift 4.x CR - InstallPlan
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    api_version: operators.coreos.com/v1alpha1
    kind: InstallPlan
    namespace: "{{ namespace }}"
  register: crs
  retries: 20
  until: crs.resources | length > 0
  ignore_errors: yes

- fail:
    msg: "There should be one core OpenShift 4.x CR -InstallPlan present, before and after the migration."
  when: crs.resources | length == 0
