apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    app: '{{ app_name }}'
  name: '{{ app_name }}'
  namespace: '{{ namespace }}'
spec:
  jobTemplate:
    metadata:
      labels:
        cronowner: '{{ app_name }}'
    spec:
      template:
        metadata:
          labels:
            cronowner: '{{ app_name }}'
        spec:
          containers:
          - args:
            - /bin/sh
            - -c
            - echo "Hello! from namespace $CURRENT_NAMESPACE while using image {{ docker_image }}"
            env:
            - name: CURRENT_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            image: '{{ docker_image }}'
            name: '{{ app_name }}'
          restartPolicy: OnFailure
  schedule: '*/1 * * * *'
