apiVersion: v1
kind: Pod
metadata:
  name: {{ app_name }}-without-pvs
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  restartPolicy: OnFailure
  containers:
  - name: bogus
    image: quay.io/openshifttest/alpine:latest
    command: [ "/bin/sh", "-c", "--" ]
    args:
    - set -xe;
      sleep 36000;
      exit 0;
