apiVersion: v1
kind: Pod
metadata:
  name: {{ app_name }}-two-pv-remove-data
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}-remove
spec:
  restartPolicy: OnFailure
  containers:
  - name: bogus
    image: quay.io/openshifttest/alpine:latest
    command: [ "/bin/sh", "-c", "--" ]
    args:
    - set -xe;
      echo 'line 1' >  /data/vol/1/file;
      rm -rf /data/vol/1/file1;
      echo 'line 1' >  /data/vol/2/file;
      rm -rf /data/vol/2/file1
      exit 0;
    volumeMounts:
    - name: testpv1
      mountPath: /data/vol/1
    - name: testpv2
      mountPath: /data/vol/2
  volumes:
  - name: testpv1
    persistentVolumeClaim:
      claimName: {{ namespace }}-pvc-1
  - name: testpv2
    persistentVolumeClaim:
      claimName: {{ namespace }}-pvc-2
