apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ namespace }}-pvc-{{ pvc_index }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
    - {{ access_modes }}
  resources:
    requests:
      storage: {{ storage_size }}
