apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-pvc
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
  - {{ access_mode }}
  resources:
    requests:
      storage: {{ storage_size }}
