---
- name: Check pod is running
  k8s_info:
    kind: Pod
    namespace: "{{ namespace }}"
    name: "{{ app_name }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
  register: pod

- name: Verify pod exists and is running
  assert:
    that:
      - pod.resources | length > 0
      - pod.resources[0].status.phase == "Running"
    fail_msg: "Pod is not running"
    success_msg: "Pod is running"
