apiVersion: v1
kind: Pod
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  containers:
  - name: corrupter
    image: quay.io/openshifttest/alpine:latest
    command: ["/bin/sh", "-c"]
    args:
      - |
        while true; do
          echo "corrupted data" > /mnt/{{ mount_volume_claim }}/{{ file_path }}
          sleep 5
        done
    volumeMounts:
    - name: html-volume
      mountPath: /mnt/{{ mount_volume_claim }}
  volumes:
  - name: html-volume
    persistentVolumeClaim:
      claimName: {{ mount_volume_claim }}
