apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-data1
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    testlabel: selectors
    testlabel2: foo
spec:
  accessModes:
  - {{ accessmode }}
{% if storage_class | length > 0 %}
  storageClassName: {{ storage_class }}
{% endif %}
  resources:
    requests:
      storage: {{ storage_size }}
