apiVersion: v1
kind: List
metadata: {}
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      name: {{ app_name }}-deployment
    namespace: {{ namespace }}
  spec:
    replicas: {{ replicas }}
    selector:
      matchLabels:
        app: {{ app_name }}
    template:
      metadata:
        labels:
          app: {{ app_name }}
      spec:
        containers:
        - image: quay.io/migqe/nginx-unprivileged:1.23
          name: {{ app_name }}
          ports:
          - containerPort: 8081
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: {{ app_name }}
    name: my-{{ app_name }}
    namespace: {{ namespace }}
  spec:
    ports:
    - port: 8081
      targetPort: 8081
    selector:
      app: {{ app_name }}
