apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    name: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ app_name }}
  template:
    metadata:
      labels:
        name: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ redis_image }}
        ports:
        - containerPort: 6379
          name: redis
        command:
        - redis-server
        - --requirepass
        - {{ redis_password }}
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: {{ app_name }}-data
