---
- name: Check external image job status. Must be active.
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Job
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ ext_app_name }}
  register: job
  until: job.resources | length > 0 and job.resources[0].status.active | default(0) >= 1
  retries: 30
  delay: 5

- name: Check internal image job status. Must be active (if OpenShift).
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Job
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ int_app_name }}
  register: job
  until: job.resources | length > 0 and job.resources[0].status.active | default(0) >= 1
  retries: 30
  delay: 5
  when: is_openshift | default(false)

- name: Check external image pods status. Must be running.
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ ext_app_name }}
    field_selectors:
      - status.phase=Running
  register: pod
  until: >-
    pod.resources|default([])|length > 0 and
    pod | json_query('resources[*].status.containerStatuses[*].ready') | flatten |difference( [true] ) | length  == 0
  retries: 30
  delay: 5

- name: Check internal image pods status. Must be running (if OpenShift).
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ int_app_name }}
    field_selectors:
      - status.phase=Running
  register: pod
  until: >-
    pod.resources|default([])|length > 0 and
    pod | json_query('resources[*].status.containerStatuses[*].ready') | flatten |difference( [true] ) | length  == 0
  retries: 30
  delay: 5
  when: is_openshift | default(false)
