---
- name: Check redis pod status
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - name={{ app_name }}
    field_selectors:
      - status.phase=Running
  register: pod
  until: >-
    pod.resources|default([])|length > 0 and
    pod | json_query('resources[*].status.containerStatuses[*].ready') | flatten |difference( [true] ) | length  == 0
  retries: 60
  delay: 10

- name: Get pod name
  set_fact:
    pod_name: "{{ (pod.resources|first).metadata.name }}"

- name: Retrieve and validate inserted data
  shell: "kubectl exec {{ pod_name }} -n {{ namespace }} -c {{ app_name }} -- /bin/bash -c \"redis-cli -a {{ redis_password }} get mytestkey\""
  register: output
  until: output.rc == 0 and output.stdout != ''
  delay: 10
  retries: 12

- fail:
    msg: "Inserted data not present"
  when: not (output.stdout is search("Hello world"))
