apiVersion: v1
items:
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: mirror-sa
    namespace: {{helper_namespace}}

- apiVersion: {{ rolebinding_api }}
  kind: ClusterRoleBinding
  metadata:
    name: mirror-helper
    namespace: {{helper_namespace}}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: registry-editor
  subjects:
  - kind: ServiceAccount
    name: mirror-sa
    namespace: {{helper_namespace}}
kind: List
metadata: {}
