apiVersion: v1
kind: Pod
metadata:
  name: "{{ name }}"
  namespace: {{ namespace }}
spec:
  restartPolicy: OnFailure
  containers:
  - name: podtest
    imagePullPolicy: Always
    image: {{ image }}
    command: [ "/bin/sh", "-c", "--" ]
    args:
    -  "echo 'Hello world! I can load the image. {{ image }}';
       while true; do sleep 30; done;"
    securityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
