apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-for-data
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: data-generation-job
  namespace: {{ namespace }}
spec:
  template:
    spec:
      containers:
      - name: generate-data
        image: busybox:latest
        command: ["sh", "-c", "dd if=/dev/urandom of=/data/randomdata bs=1M count=10"]
        volumeMounts:
        - name: volume
          mountPath: /data
      restartPolicy: Never
      volumes:
        - name: volume
          persistentVolumeClaim:
            claimName: pvc-for-data
  backoffLimit: 4
