---
- name: Check pods status
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ default_app_name }}
    field_selectors:
      - status.phase==Running
  register: pod
  until: pod.resources | default([]) | length == default_replicas | int
  retries: 120
