---
- name: Verify pod is running
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ app_name }}
    field_selectors:
      - status.phase==Running
  register: corruptor
  until: corruptor.resources|default([])|length > 0
  retries: 30
