---
- name: Remove namespace
  k8s:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    name: "{{ namespace }}"
    api_version: v1
    kind: Namespace
    state: absent
    wait: yes
    wait_timeout: 600

- name: Remove SCC resource
  k8s:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    name: "{{ namespace }}-scc"
    api_version: v1
    kind: SecurityContextConstraints
    state: absent
    wait: yes
    wait_timeout: 600
  ignore_errors: yes

- name: Remove dummy SCC resource
  k8s:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    name: "{{ dummy_scc }}"
    api_version: v1
    kind: SecurityContextConstraints
    state: absent
    wait: yes
    wait_timeout: 600
  when: create_dummy_scc | default(false) | bool
  ignore_errors: yes
