apiVersion: v1
kind: Pod
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  containers:
  - image: quay.io/openshifttest/alpine:multiarch
    name: test-container
    command:
    - sleep
    - "10000"
    volumeMounts:
    - mountPath: /data
      name: data-volume
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
  volumes:
  - name: data-volume
    persistentVolumeClaim:
      claimName: {{ app_name }}-pvc
