---
- name: Ensure namespace exists
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Deploy a pod with emptyDir volume
  k8s:
    state: present
    definition: "{{ lookup('template', 'pod.yml.j2') | from_yaml }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Check pod status
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ app_name }}
    field_selectors:
      - status.phase=Running
  register: pod
  until: "true in (pod | json_query('resources[].status.containerStatuses[].ready'))"
  retries: 30

- name: Add a file in EmptyDir volume
  ansible.builtin.command: >
    kubectl exec {{ (pod.resources|first).metadata.name }}
    -n {{ namespace }}
    -- /bin/sh -c "echo 'Test' > {{ file_path }}"
  when: add_data | bool
  register: result
  changed_when: false
