---
- name: Check pod status
  k8s_info:
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ app_name }}
    field_selectors:
      - status.phase=Running
  register: pod
  until: >-
    pod.resources|default([])|length > 0 and
    pod | json_query('resources[*].status.containerStatuses[*].ready') | flatten |difference( [true] ) | length  == 0
  retries: 30

- name: Check disk usage
  ansible.builtin.command: >
    kubectl exec {{ (pod.resources|first).metadata.name }}
    -n {{ namespace }}
    -- /bin/sh -c 'du -h /data'
  register: output
  changed_when: false

- debug:
    msg: "{{ output.stdout }}"

- fail:
    msg: "Disk usage should be 0"
  when: add_data | bool == false and output.stdout != '0\t/data'

- name: Verify file exists
  ansible.builtin.command: >
    kubectl exec {{ (pod.resources|first).metadata.name }}
    -n {{ namespace }}
    -- /bin/sh -c 'cat {{ file_path }}'
  register: shell_output
  when: add_data | bool
  changed_when: false

- fail:
    msg: "stdout should contain test string but got {{ shell_output.stdout }}"
  when: add_data | bool == true and shell_output.stdout != 'Test'
