apiVersion: v1
kind: Pod
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  containers:
  - image: quay.io/openshifttest/alpine:multiarch
    name: test-container
    command:
    - sleep
    - "10000"
    volumeMounts:
    - mountPath: /data
      name: emptydir-volume
    securityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
  volumes:
  - name: emptydir-volume
    emptyDir:
      medium: Memory
      sizeLimit: 500Mi
