---
- name: Ensure namespace exists
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Deploy pods using external image
  k8s:
    state: present
    namespace: "{{ namespace }}"
    definition: "{{ lookup('template', 'deployment.yml.j2') | from_yaml_all | list }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
  vars:
    replicas: 1
    app_name: "{{ ext_app_name }}"
    init_image: quay.io/openshifttest/alpine:latest

- name: Deploy pods using internal image
  k8s:
    state: present
    namespace: "{{ namespace }}"
    definition: "{{ lookup('template', 'deployment.yml.j2') | from_yaml_all | list }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
  vars:
    replicas: 1
    app_name: "{{ int_app_name }}"
    init_image: "{{ 'image-registry.openshift-image-registry.svc:5000' }}/{{ namespace }}/{{ internal_image_name }}:{{ internal_image_tag }}"
  when: false  # Skip internal image deployment for now (requires ImageStream)
