apiVersion: v1
kind: Pod
metadata:
  annotations:
  generateName: hello-openshift-68876989dc-
  name: hello-openshift
  namespace: {{ namespace }} 
spec:
  containers:
  - image: quay.io/openshifttest/hello-openshift:openshift
    imagePullPolicy: Always
    name: hello-openshift
    ports:
    - containerPort: 80
      protocol: TCP
    resources: {}
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File

