---
- name: Ensure namespace exists
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Create MySQL secret
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app_name }}"
        namespace: "{{ namespace }}"
        labels:
          app: "{{ app_name }}"
          testlabel: selectors
          testlabel2: foo
      stringData:
        database-name: MYSQL_DATABASE
        database-password: MYSQL_PASSWORD
        database-root-password: MYSQL_ROOT_PASSWORD
        database-user: MYSQL_USER
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Create MySQL service
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ app_name }}"
        namespace: "{{ namespace }}"
        labels:
          app: "{{ app_name }}"
          testlabel: selectors
          testlabel2: foo
      spec:
        ports:
        - name: mysql
          port: 3306
          targetPort: 3306
        selector:
          app: "{{ app_name }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Create MySQL PVC
  k8s:
    state: present
    definition: "{{ lookup('template', 'pvc.yml.j2') | from_yaml }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Create MySQL PVC data1
  k8s:
    state: present
    definition: "{{ lookup('template', 'pvc-data1.yml.j2') | from_yaml }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"

- name: Create MySQL deployment
  k8s:
    state: present
    definition: "{{ lookup('template', 'deployment.yml.j2') | from_yaml }}"
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
  vars:
    storage_class: "{{ storage_class if storage_class | length > 0 else '' }}"

- name: Wait for MySQL pod to be ready
  k8s_info:
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app={{ app_name }}
    field_selectors:
      - status.phase=Running
    host: "{{ server }}"
    api_key: "{{ token }}"
    verify_ssl: "{{ verify_ssl }}"
  register: pod
  until: pod.resources | length > 0 and (pod.resources[0].status.containerStatuses[0].ready | default(false))
  retries: 30
  delay: 10

- name: Get pod name
  set_fact:
    pod_name: "{{ (pod.resources | first).metadata.name }}"

- name: Copy mysql provision script to pod
  shell: "kubectl cp {{ role_path }}/files/data.sql {{ namespace }}/{{ pod_name }}:/opt/app-root/src/data.sql -c {{ app_name }}"
  register: result
  retries: 10
  until: result.rc == 0
  delay: 5

- name: Wait until service ready for connections
  shell: "kubectl logs {{ pod_name }} -n {{ namespace }} -c {{ app_name }} --tail=50"
  register: result
  until: result.stdout is search('socket.*/var/lib/mysql/mysql.sock.*port.*3306')
  retries: 30
  delay: 5

- name: Provision the mysql database
  shell: "kubectl exec {{ pod_name }} -n {{ namespace }} -c {{ app_name }} -- /bin/bash -c 'mysql -uroot MYSQL_DATABASE < /opt/app-root/src/data.sql'"
  register: result
  until: result.rc == 0
  retries: 5

- name: Add dummy data into {{ app_name }}-data1 pvc
  shell: "kubectl exec {{ pod_name }} -n {{ namespace }} -c {{ app_name }} -- /bin/sh -c \"dd if=/dev/urandom of=/test-data/test1 bs=10M count=10\""
  register: output
  until: output.rc == 0
  retries: 5

- name: Create md5 hashes for the files
  shell: "kubectl exec {{ pod_name }} -n {{ namespace }} -c {{ app_name }} -- /bin/sh -c \"cd /test-data; md5sum test1 > test1.md5\""
  register: output
  until: output.rc == 0
  retries: 5

- name: Pause After Create md5 hashes for the files
  pause:
    seconds: "{{ pause_after_md5_hashing_seconds }}"
